* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

body {
  background-color: white;
}

li {
  list-style-type: none;
}

a {
  color: #252525;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.527);
}

h3 {
  font-size: 2rem;
  position: relative;
  margin-bottom: 10px;
}

h3::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1px;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px;
  margin-bottom: 30px;
}

.wrapper .header-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  background-image: url("");
  background-size: cover;
  background-position: center;
}

.wrapper .header-photo img {
  width: 200px;
  border: 1px solid darkgrey;
}

.wrapper .header-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wrapper .header-about .text-block .header-about_name {
  font-size: 2rem;
  margin: 0;
}

.wrapper .header-about .text-block .header-about_position {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.wrapper .header-about .text-block .header-about_skills {
  opacity: 0.8;
  font-size: 1rem;
  margin-bottom: 30px;
}

.wrapper .header-about i {
  min-width: 20px;
}

.wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section {
  margin-bottom: 30px;
}

.wrapper main p {
  padding: 0 15px;
}

.wrapper main .education .text-content {
  margin-left: 15px;
  margin-bottom: 20px;
}

.wrapper main .education .text-content h4 {
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.wrapper main .education .text-content p, .wrapper main .education .text-content a {
  margin-left: 0;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.wrapper main .summary P {
  text-indent: 1.5em;
  text-align: justify;
  margin-bottom: 1rem;
}

.wrapper main .summary ul {
  padding-left: 15px;
}

.wrapper main .summary li {
  padding-left: 1rem;
}

.wrapper main .skills p {
  padding-bottom: 5px;
}

.wrapper main .code-examples li {
  margin-bottom: 0.5rem;
}

.wrapper main .code-examples li h4 {
  margin-left: 15px;
}

.wrapper main .code-examples .short-link {
  font-size: 0.8rem;
}

.wrapper .online-link {
  text-align: right;
  font-size: 0.8rem;
}
